@model CreateHomeProductVM
<div class="container">
    <h1 class="text-center my-2">Create HomeProduct</h1>
    <div class="row">
        <form asp-action="Create" method="post" class="forms-sample my-2" enctype="multipart/form-data">
            <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <input asp-for="Price" class="form-control" placeholder="Price">
            </div>
            <div class="form-group">
                <input asp-for="Star" class="form-control" placeholder="Star">
            </div>  
            <div class="form-group">
                <input asp-for="CategoryId" class="form-control" placeholder="CategoryId">
            </div>
            <div class="form-group">
                <label>Slider Image</label>
                <input asp-for="Photo" class="form-control">
            </div>

            <button type="submit" class="btn btn-outline-success me-2">Submit</button>
            <a asp-action="Index" class="btn btn-outline-danger btn-light">Cancel</a>
        </form>
    </div>
</div>