@model UpdateTypeVM

<div class="container">
    <h1 class="text-center my-2">Update Slider</h1>
    <div class="row">
        <form asp-action="Update" method="post" class="forms-sample my-2" enctype="multipart/form-data">
            <div class="form-group">
                <input asp-for="Type" class="form-control" placeholder="Type">
            </div>
            <button type="submit" class="btn btn-outline-success me-2">Submit</button>
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-outline-danger btn-light">Cancel</a>
        </form>
    </div>
</div>