@model Contact

<div class="container">
    <h1>Slider Details</h1>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">EmailAddress</th>
                    <th scope="col">PhoneNumber</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col">@Model.Description</td>
                    <td scope="col">@Model.EmailAddress</td>
                    <td scope="col">@Model.PhoneNumber</td>
                    <td scope="col">@Model.Address</td>
                    <a asp-action="Index" class="btn btn-outline-danger btn-light">Cancel</a>
                </tr>
            </tbody>
        </table>
    </div>
</div>