
@model LoginRegisterVM
<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height"
         data-bg-image="assets/images/breadcrumb/bg/1-1-1919x388.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Login & Register Page</h2>
                        <h2 class="breadcrumb-heading"></h2>
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>Login | Register</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <form method="post" asp-controller="LoginRegister" asp-action="Login">
                        <div class="login-form">
                            <h4 class="login-title">Login</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>User Name</label>
                                    <input asp-for="loginVM.UserName" placeholder=" Username" />
                                </div>
                                <div class="col-lg-12">
                                    <label>Password</label>
                                    <input asp-for="loginVM.Password" placeholder="Password" />
                                </div>
                                <div class="col-md-8">
                                    <div class="check-box">
                                        <input type="checkbox" id="remember_me" />
                                        <label for="remember_me">Remember me</label>
                                    </div>
                                </div>
                                <div class="col-md-4 pt-1 mt-md-0">
                                    <div class="forgotton-password_info">
                                        <a asp-controller="LoginRegister" asp-action="Index"> Forgotten pasward?</a>
                                    </div>
                                </div>
                                <div class="col-lg-12 pt-5">
                                    <button class="btn btn-custom-size lg-size btn-pronia-primary">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <form method="post" asp-controller="LoginRegister" asp-action="Register">
                        <div class="login-form">
                            <h4 class="login-title">Register</h4>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <label> Name</label>
                                    <input asp-for="registerVM.FirstName" placeholder="First Name" />
                                </div>
                                <div class="col-md-6 col-12">
                                    <label>Last Name</label>
                                    <input asp-for="registerVM.LastName" placeholder="Last Name" />
                                </div>                 
                                <div class="col-md-6 col-12">
                                    <label>Username</label>
                                    <input asp-for="registerVM.UserName" placeholder="Username" />
                                </div>
                                <div class="col-md-12">
                                    <label>Email Address*</label>
                                    <input asp-for="registerVM.Email" placeholder="Email Address" />
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <input asp-for="registerVM.Password" placeholder="Password" />
                                </div>
                                <div class="col-md-6">
                                    <label>Confirm Password</label>
                                    <input asp-for="registerVM.ConfirmPassword" placeholder="Confirm Password" />
                                </div>
                                <div class="col-12">
                                    <button type="submit"
                                            class="btn btn-custom-size lg-size btn-pronia-primary">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->