@model Slider

<div class="container">
    <h1>Slider Details</h1>
    <div class="row">
        <div>
            <img src="~/images//dbphoto/@Model.Image" width="200px" height="200px" />
            <h1>@Model.Label</h1>
            <h2>@Model.Description</h2>
            <h3>@Model.Precent</h3>
            <a asp-action="Index" class="btn btn-outline-danger btn-light">Cancel</a>
        </div>
    </div>
</div>